@import "$styles/custom.scss";
@import "bootstrap/scss/bootstrap";

body {
    font-family: var(--font-family);
}

.navbar .dropdown-menu {
    background-color: var(--light); 
    border: none; 
    box-shadow: none; 
}

.navbar .dropdown-menu .dropdown-item {
    color: var(--black); 
    padding: 10px 20px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: var(--yellow);
    color: black; 
}

.navbar .dropdown-toggle {
    color: var(--white); 
    font-weight: 500; 
}

.monospace {
    font-family: var(--font-family-monospace);
}

.custom-padding {
    padding-top: 200px; 
}

.bg-yellow {
    background-color:var(--yellow);
    color: var(--black); 
    width:22%;
    border-radius: 5px; 
    padding: 0.5rem 1rem;
}

.bg-theme-text {
    background-color: var(--theme-primary); 
    color: var(--white);
    width: 44%;
    padding: 0.5rem 1rem;
}

.bg-theme {
    background-color: var(--theme-primary) !important;
}  

.bg-theme-light {
    background-color: var(--theme-primary-light) !important;
}

.text-theme {
    color: var(--theme-primary) !important;
}

.btn-theme {
    background-color: var(--theme-primary);
    color: var(--white);
    border: none;

    &:hover {
        background-color: var(--theme-primary-light);
        color: var(--white);
    }
}

.flag {
    border: 1px solid var(--orange);
    border-radius: 2px;
    padding: 1px; 
}

footer {
    background-color: var(--theme-primary);
    color: var(--white); 
}

footer h6 {
    font-weight: bold; 
    font-size: 1rem;
    margin-bottom: 1rem;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.9rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .social-links a {
    font-size: 1.2rem;
}

footer .social-links a:hover {
    color: var(--yellow); 
}

@media (max-width: 768px) {
    footer .social-links a {
    font-size: 1rem;
    margin-right: 1rem;
    }
}